/* Frank edited file - you are good to go...*/

/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
#webrtcIndicator {
	display: none;
}
/* Make tabs and navbar appear side-by-side tabs on right */
/* Use page_action_buttons_on_hover.css to hide page-action-buttons to save more space for the address */
/* Toolbars will be shown normally if window width goes below the value below */
@media screen and (min-width: 1080px){
	/* Modify these to change relative widths or default height */
	#navigator-toolbox{
		--uc-navigationbar-width: 34vw;
		--uc-toolbar-height: 38px;
		/*remove single line between page and url/tabbar */
		border-bottom: 0px!important;
	}
	/* prevent urlbar overflow on narrow windows */
	/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
	@media screen and (max-width: 1560px){
		#urlbar-container{ min-width:unset !important }
	}
	#TabsToolbar{ margin-left: var(--uc-navigationbar-width); }
	#tabbrowser-tabs{ --tab-min-height: var(--uc-toolbar-height) !important; }
	/* This isn't useful when tabs start in the middle of the window */
	.titlebar-placeholder[type="pre-tabs"],
	.titlebar-spacer[type="pre-tabs"]{ display: none }

	#navigator-toolbox > #nav-bar{
		margin-right:calc(100vw - var(--uc-navigationbar-width));
		margin-top: calc(0px - var(--uc-toolbar-height));
	}

	/* Rules specific to window controls on right layout */
	@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
		.titlebar-buttonbox-container{ position: fixed; display: block; left: 0px; z-index: 3; }
		:root[tabsintitlebar="true"] #nav-bar{ padding-left: 96px !important; padding-right: 0px !important; }
	}

	/* Hide dropdown placeholder */
	#urlbar-container:not(:hover) .urlbar-history-dropmarker{ margin-inline-start: -28px; }
}
/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow{ margin-inline-end: initial !important; }
/*--------------------------------------------------------------------------------------------------*/
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_scrollbuttons.css made 
 * available under Mozilla Public License v. 2.0
 * See the above repository for updates as well as full license text. */

/* This should hide tabs scrollbuttons in a manner that preserves the ability to move tab strip when reordering tabs */
#tabbrowser-tabs:not([movingtab]){ --uc-scroll-visibility: hidden }
#tabbrowser-tabs[overflow]{ --uc-scrollbox-margin: -28px }
#scrollbutton-up{ position: relative;z-index: 1 }

#scrollbutton-up,
#scrollbutton-down,
#scrollbutton-up ~ spacer{
	visibility: var(--uc-scroll-visibility,visible);
}

.scrollbox-clip{ margin-inline: var(--uc-scrollbox-margin,0); }
#tabbrowser-tabs[overflow][positionpinnedtabs] .tabbrowser-tab[pinned]{
	border-left: 28px solid transparent !important;
	clip-path: padding-box
}

/*------------------------------------------------------------------------------------------------------*/
/*fix tabheight screwing up top bar */
:root {
	--tab-block-margin: 0px!important;
}
/*Scrollbars*/
:-moz-any(#content,#appcontent) browser{
	margin-right:-14px!important;
	overflow-y:scroll;
}

/*Hide Close Button until hovered*/
.tabbrowser-tab .tab-close-button{
	display:none;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button{
	display:-moz-box !important;
}

/*Location of buttons for 1 bar setup*/
#main-window[sizemode="maximized"] #downloads-button, #home-button,
#main-window[sizemode="maximized"] #PanelUI-button,
#main-window[sizemode="maximized"] #nav-bar-overflow-button { position: relative !important; }

/*hide a bunch of useless information*/
#userContext-indicator,
#userContext-label,
#pageActionButton,
.urlbar-history-dropmarker,
#context-sendimage,
#context-inspect-a11y,
#context-sendvideo,
#context-sendaudio,
#context-navigation,
#context-selectall,
#context-savepage,
#context-inspect,
#context-sendpagetodevice,
#_testpilot-containers-menuitem-0,
#PanelUI-menu-button,
#context-sep-navigation {
	display:none !important;
}

/*New tab no flash of white burning my eyes*/
.browserContainer { background-color: black !important; }
#main-window,
browser[type="content-primary"],
browser[type="content"],
tabbrowser#content,
#content,
browser[type="content"] > html
{
	background: #323234 !important;
}

/* full height proton tabs */
.tab-background {
	--tab-border-radius: 0;
	--proton-tab-block-margin: 0;
}

/* fxx containercolor missing because of full height tabs*/
#tabbrowser-tabs .tab-background {border-top: solid 2px var(--identity-icon-color, #ccc) !important;}

/* pinned tabs separator remove*/
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0 !important;
}

/* ensure reload is topmost in tabmenu */
#tabContextMenu #context_reloadTab, #tabContextMenu #context_reloadSelectedTabs {
	-moz-box-ordinal-group: 0 !important;
}

/* fix tabs resizing on overflow */
#scrollbutton-up, #scrollbutton-down {
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
}

/* Apply dimmed background for inactive tabs */
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected], [multiselected]) {
	background-color: color-mix(in srgb, currentColor 8%, transparent);
}

.tabbrowser-tab>.tab-stack>.tab-background:not([selected], [multiselected]) {
	background-color: color-mix(in srgb, currentColor 4%, transparent);
}

/* hide collapse indicator in bookmark menu */
.sidebar-placesTreechildren::-moz-tree-twisty{ width: 0 !important; }

/* status panel white on black to be less distracting*/
#statuspanel-label,
statuspanel[type="overLink"] #statuspanel-label,
statuspanel[type="status"] #statuspanel-label[value^="Looking"],
statuspanel[type="status"] #statuspanel-label[value^="Connect"],
statuspanel[type="status"] #statuspanel-label[value^="Waiting"],
statuspanel[type="status"] #statuspanel-label[value^="Transfer"]{
	background-color: #111 !important;
	color: #fff !important;
}


/* Hide back button only when disabled */
#back-button[disabled="true"] {display: none !important}

/* Hide forward button only when disabled */
#forward-button[disabled="true"] {display: none !important}

/*hide bookmark star*/
#star-button-box {display: none !important}
	
